extends template

block content
	div(class="row")
		div(class="col-lg-8 mt-5 mx-auto")
			h4(class="h-underline") Who are we?
			p We are an activity-based hub in the heart of Chester-le-Street which aims to meet the needs and interests of the residents of the town and the villages which surround it.  We are a busy and thriving centre which is available for hire for community activity seven days a week throughout the day and evening, and is run by a team of caring and committed staff.
			h4(class="h-underline") Where are we?
			p Park View Community Centre is situated within the grounds of Park View School in Church Chare, Chester-le-Street in County Durham.  This places us at the very heart of our local community. The centre is easy reachable from the A1M and is located just off the A167.  It has its own discrete parking, which is free for users.
			iframe(class="b-brand-thin embed-map w-100 mb-3" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.5723109245300293%2C54.8530817267289%2C-1.5643072128295898%2C54.856774998772146&amp;layer=mapnik&amp;marker=54.85492840502175%2C-1.5683090686798096")
			h4(class="h-underline") What do we do?
			p We are able to use the many and varied facilities of the school so are literally able to cater for most activities, ranging from creative arts to fitness-related projects.  The main reception is situated in the Sixth Form Centre itself and from there we have access to the rest of the complex.  The rooms are suitable for a range of events, from small meetings to large exercise classes.  There is a host of extra activities for all ages and interests operating at the Centre including: fitness and dance sessions; parent and baby exercise and music groups; children’s parties; health and information sessions; performing arts productions; flower arranging and much more. Specialist areas include  a 250 Seated Theatre, a Performing Arts Studio, a Sports Hall, a Gymnasium, an Outdoor Floodlit Astro Turf and a Playing Field. Skill-specific classrooms could be available for those seeking to run art, cookery, design or science-based activities.
			h4(class="h-underline") Why should you visit us?
			p We are entering a new and exciting phase of our development, one which will see the Centre develop its provision and facilities to a new level. We have a customer care team who always put the needs of our users first and a range of activities and facilities which are second to none.
			h4(class="h-underline") What next?
			p Take the tour of our website and let your imagination run free – how could you be involved in your local community and what could you bring to us?  We would be delighted to show you around and discuss your particular needs to help you decide which facility would be best for you, to take a booking or to discuss and idea you might have. If you would like to take advantage of this offer, please contact the centre on 0191 3881043 or make an enquiry (insert link).
			p
				strong Thank you so much for taking the time to read about us. We hope that you will enjoy the rest of the website and be inspired to get active with us.
			p
				strong We have teamed up with easyfundraising to help raise funds for our community centre. If you would like to learn more, click 
				a(href="/easy-fundraising") here.
