div(class="carousel slide" id="home-photo-carousel" data-ride="carousel" style="background-color:#EEE;")
	ol(class="carousel-indicators")
		li(data-target="#home-photo-carousel" data-slide-to="0" class="active")
		li(data-target="#home-photo-carousel" data-slide-to="1")
		li(data-target="#home-photo-carousel" data-slide-to="2")
		li(data-target="#home-photo-carousel" data-slide-to="3")
		li(data-target="#home-photo-carousel" data-slide-to="4")
	div(class="carousel-inner w-75 mx-auto bx-brand")
		div(class="carousel-item active")
			img(src="/img/home/home-banner-1.jpg" class="w-100")
			div(class="carousel-caption d-none d-lg-block")
				p Special button things might go here
		div(class="carousel-item")
			img(src="/img/home/home-banner-2.jpg" class="w-100")
			div(class="carousel-caption d-none d-lg-block")
				p Special button things might go here
		div(class="carousel-item")
			img(src="/img/home/home-banner-3.jpg" class="w-100")
			div(class="carousel-caption d-none d-lg-block")
				p Special button things might go here
		div(class="carousel-item")
			img(src="/img/home/home-banner-4.jpg" class=" w-100")
			div(class="carousel-caption d-none d-lg-block")
				p Special button things might go here
		div(class="carousel-item")
			img(src="/img/home/home-banner-5.jpg" class="w-100")
			div(class="carousel-caption d-none d-lg-block")
				p Special button things might go here
	a(class="carousel-control-prev" href="#home-photo-carousel" data-slide="prev" role="button")
		span(class="fa fa-arrow-left fa-3x text-brand")
	a(class="carousel-control-next" href="#home-photo-carousel" data-slide="next" role="button")
		span(class="fa fa-arrow-right fa-3x text-brand")