extends template

block content
	div(class="row mt-5")
		div(class="col-lg-8 mt-5 mx-auto")
			h3(class="h-underline text-uppercase") Our Facilities
			p All of our facilities are available for hire. We have facilities to suit all activities, events or occasions raging from sports opportunities to meetings and parties. Hiring agreements can range from one off facility hire to fully catered with licensed bar events. Please make an enquiry should you wish to discuss booking options further.
			//-Jack my friend, make the grid super nice please
			include facility-list
