div(class="row image-gallery")
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/astro-turf")
                img(src="/img/astroturf/astroturf-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Astro Turf
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/sports-hall")
                img(src="/img/sports-hall/sports-hall-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Sports Hall
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/sports-field")
                img(src="/img/sports-field/sports-field-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Sports Field
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/classrooms")
                img(src="/img/classrooms/classrooms-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Classrooms
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/it-suite")
                img(src="/img/it-suite/it-suite-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") IT Suite
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/theatre")
                img(src="/img/theatre/theatre-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Theatre
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/gymnasium")
                img(src="/img/gymnasium/gymnasium-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") The Gymnasium
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/green-room")
                img(src="/img/green-room/green-room-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") The Green Room
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/performing-arts-room")
                img(src="/img/performing-arts-room/performing-arts-room-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Performing Arts
    div(class="col-md-4 mb-4")
        div(class="card")
            a(href="/facility/dining-hall")
                img(src="/img/dining-hall/dining-hall-side.jpg" class="card-img-top")
            h3(class="card-title text-center text-grey font-weight-bold") Dining Hall