div(id="footer" class="container-fluid pt-5 pb-3 bt-brand text-center text-light bg-brand-grey")
	h6 © Copyright - Park View Community Association
	p "Park View Community Centre" is a trading name of Park View Community Association, a company limited by guarantee
		|  (Company Number: 8174241 ) and registered charity (Charity Number: 1148865), registered in England and Wales
		| at Park View Community Association, Church Chare, Chester-le-Street, Co. Durham DH3 3PZ.
	a(class="mx-3" href="https://www.facebook.com/parkviewcommunitycentre/")
		i(class="fa fa-fw fa-2x fa-facebook text-brand")
	a(class="mx-3" href="https://twitter.com/ParkViewCA")
		i(class="fa fa-fw fa-2x fa-twitter text-brand")