extends template

block content
	
	div(class="col-lg-8 mx-auto")
		br
		h2(class="h-underline text-uppercase") GDPR Notice
		p
			strong PARK VIEW COMMUNITY CENTRE (PVCC)
			br
			strong For: PVCC Users
			br
			strong Privacy Notice
			br
			strong Data Protection Bill 2018 / General Data Protection Regulations (GDPR) 25 May 2018
			br
			br
			| The security of data and information is important to us. This is why we follow a range of security policies and procedures to control and safeguard access to and use of your personal information. This includes both physical and technical security and integrity of all data.
			br
			br
			strong Who we are and what we do
			br
			| We, Park View Community Centre, are a data controller for the purposes of the above statutory legislation.
			br
			| Our Data Protection Officer (DPO) is: Neil Batey
			br
			br
			strong The personal data we collect and hold
			br
			| Personal data that we may collect, use, store and share (when appropriate) about PVCC users includes, but is not restricted to:
		ul
			li Contact details, contact preferences, data of birth
			li Details of any medical conditions, including physical and mental health
			li Attendance information
			li Photographs
		p
			strong Collecting this information
			br
			| We collect data from PVCC users directly when they access our Facilities
			br
			br
			strong Special category data
			br
			| Special category data is any personal information that is one or more of these categories:
		ul
			li Racial or ethnic origin
			li Political opinions
			li Religious or philosophical beliefs
			li Trade union membership
			li Genetic data
			li Biometric data
			li Health data
		p
			| When we collect special category personal information we rely on explicit consent.
			br
			br
			strong Why we use this data
			br
			| We hold personal data about PVCC users in order to:
		ul
			li Provide you with information regarding Events, activities and courses that may be of interest
			li Ensure we are aware of any medical conditions when you participate in any of our courses
		p
			strong Our legal basis for using this data
			br
			| We collect and use personal data on the basis of performing a public task (ie, providing educational and recreational activities for the community).
			br
			br
			strong How we store this data
			br
			| We keep personal information about PVCC users 5 Years. We will only retain the data we collect for as long as is necessary, to satisfy the purpose for which it has been collected.
			br
			br
			strong Data sharing
		ul
			li We will not give information about you to anyone outside PVCC without your consent unless the law and our rules allow us to.
			li We do not transfer personal data to countries outside the European Economic area.
		p
			strong PVCC users’ rights regarding personal data
			br
			| Individuals have a right to make a ‘subject access request’ (SAR) to gain access to personal information that PVCC holds about them. The SAR request form can be requested by email (‘info@pvca.co.uk’) or by post (SAR Request, Park View Community Centre, Church Chare, Chester le Street, County Durham, DH3 3QA). Once the official form is completed, PVCC will respond within the statutory timescale of one calendar month, or three months if the request is more complex.
			br
			| If we cannot provide information to you, we will give you a description of the information we hold and the reason why it cannot be disclosed to you at the time of your request.
			br
			strong Other rights
			br
			| Individuals have rights regarding how their personal data is used and kept safe, including the right to:
		ul
			li Object to the use of personal data if it would cause, or is causing, damage or distress
			li Prevent it being used to send direct marketing
			li Object to decisions being taken by automated means rather than by a person
			li In certain circumstances, have inaccurate personal data corrected, deleted or destroyed, or restrict processing
			li Claim compensation for damages caused by a breach of the data protection regulations
		p
			| To exercise any of these rights, please contact our DPO.
			br
			br
			strong Complaints
			br
			| We take any complaint regarding our collection and use of personal information very seriously. If you think that our collection or use of personal information is unfair, misleading or inappropriate, or have any other concern about our data processing, please raise this with our DPO.
			br
			| Alternatively, you can make a complaint to the Information Commissioner’s Office:
		ul
			li Telephone : 0303 123 1113
			li In writing : Information Commissioner’s Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF
			li Online : https://ico.org.uk/concerns/
		br