nav(id="main-nav" class="navbar navbar-expand-lg fixed-top bg-light-grey b-brand-thin p-0")
    a(class="navbar-brand pb-0 pt-2 ml-5" href="/")
        img(src="/img/pvcc_logo.png" class="h-100")
    button(class="navbar-toggler mx-5" type="button" data-toggle="collapse" data-target="#navbar-links")
        i(class="fa fa-fw fa-bars fa-3x text-brand")
    div(id="navbar-links" class="navbar-collapse collapse")
        ul(class="navbar-nav h-100 ml-auto")
            li(class="nav-item")
                a(class="nav-link" href='/') Home
            li(class="nav-item")
                a(class="nav-link" href='/about-us') About Us
            li(class="nav-item")
                a(class="nav-link" href='/whats-on') What's On
            li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href='#' id="navbar-facility-dropdown" data-toggle="dropdown") Facilities
                div(class="dropdown-menu")
                    a(class="dropdown-item" href='/facility/astro-turf') Astro Turf
                    a(class="dropdown-item" href='/facility/sports-hall') Sports Hall
                    a(class="dropdown-item" href='/facility/sports-field') Sports Field
                    a(class="dropdown-item" href='/facility/gymnasium') The Gymnasium
                    a(class="dropdown-item" href='/facility/theatre') Theatre
                    a(class="dropdown-item" href='/facility/performing-arts-room') Performing Arts Room
                    a(class="dropdown-item" href='/facility/green-room') The Green Room
                    a(class="dropdown-item" href='/facility/dining-hall') Dining Hall
                    a(class="dropdown-item" href='/facility/it-suite') IT Suite
                    a(class="dropdown-item" href='/facility/classrooms') Classrooms
            li(class="nav-item")
                a(class="nav-link" href='/contact-us') Contact Us