extends facility-template
block prepend content
	- var automated = true
	- var top_image = "/img/astroturf/astroturf-top.jpg"
	- var title = "Astro Turf"
	- var images = ["/img/astroturf/astroturf-side.jpg", "/img/astroturf/astroturf-side-2.jpg", "/img/astroturf/astroturf-side-3.jpg"]
	- var description = "##### Description\nThe multi-use games area has been newly refurbished and is a high class, floodlit facility available until 9pm each night. It can be hired as a full or half pitch, depending upon the age group of user or the activity required. Because it is composed of synthetic carpet, it can be used for a host of sports, including football, netball and tennis.\n\nFree parking is available on site."
	- var availability = "##### Availability\n**Monday** - **Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM - 12:30PM"
	- var pricing = "##### Pricing\n**Per Hour**: \u00A330  \n**Half Day (3hrs)**: \u00A380  \n**Full Day (7hrs)**: \u00A3120"