extends facility-template
block prepend content
	- var button_name = "Book Now"
	- var top_image = "/img/astroturf/astroturf-top.jpg"
	- var page_name = "Astro Turf"
	- var side_image = "/img/astroturf/astroturf-side.jpg"

block description
	p 
	|The multi-use games area has been newly refurbished and is a high class, floodlit facility available until 9pm each night.  It can be hired as a full or half pitch, depending upon the age group of user or the activity required. Because it is composed of synthetic carpet, it can be used for a host of sports, including football, netball and tennis.
	br
	|  Free parking is available on site.
	br 

block image-gallery
	div(class="col-4 thumbnail-image-container img-fluid")
		img(src="/img/astroturf/astroturf-side.jpg" style="width:100%;height:5vw;" onclick="changeGalleryImage(src)")
	div(class="col-4 thumbnail-image-container img-fluid")
		img(src="/img/astroturf/astroturf-side-2.jpg" style="width:100%;height:5vw;" onclick="changeGalleryImage(src)")
	div(class="col-4 thumbnail-image-container img-fluid")
		img(src="/img/astroturf/astroturf-side-3.jpg" style="width:100%;height:5vw;" onclick="changeGalleryImage(src)")

block availability
	p
	|Monday:  
	strong 6:00 pm – 9:30 pm
	br
	|Tuesday: 
	strong 6:00 pm - 9:30 pm
	br
	|Wednesday:  
	strong 6:00 pm – 9:30 pm 
	br
	|Thursday: 
	strong 6:00 pm – 9:30 pm 
	br
	|Friday:  
	strong 6:00 pm – 9:30 pm 
	br
	|Saturday:  
	strong 10:00 am – 4:30 pm
	br
	|Sunday:  
	strong 10:00 am – 12:30 pm 
	br


block pricing
	p
	|Per hour: 
	strong £30
	br
	|Half day (up to 3 hours): 
	strong £80
	br
	|Full day (up to 7 hours): 
	strong £120
	br 