extends facility-template
block prepend content
	- var automated = true
	- var top_image = "/img/classrooms/classrooms-top.jpg"
	- var title = "Classrooms"
	- var images = ["/img/classrooms/classrooms-side.jpg", "/img/classrooms/classrooms-side-2.jpg", "/img/classrooms/classrooms-side-3.jpg"]
	- var description = "##### Description\nThe award winning Community Centre holds classrooms of differing sizes and thus can play host to a wide range of activities, including ICT and computing lessons. Because there are no fixed fittings, each room has the capability to act as a venue for meetings or interviews as well as adult education, with the largest being ideal for a birthday party.\n\nFree parking is available on site"
	- var availability ="#### Availability (DATA NEEDED)\n**Monday - Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM-12:30PM"
	- var pricing ="#### Pricing\n##### Large Classroom\n**Per Hour**: \u00A315  \n**Half Day (3hrs)**: \u00A340  \n**Full Day (7hrs)**: \u00A370\n##### Small Classroom\n**Per Hour**: \u00A310  \n**Half Day (3hrs)**: \u00A325  \n**Full Day (7hrs)**: \u00A350"