extends facility-template
block prepend content
	- var button_name = "Book Now"
	- var top_image = "/img/dining-hall/dining-hall-top.jpg"
	- var facility_name = "Dining Hall"
	- var images = ["/img/dining-hall/dining-hall-side.jpg", "/img/dining-hall/dining-hall-side-2.jpg", "/img/dining-hall/dining-hall-side-3.jpg", "/img/dining-hall/dining-hall-side-4.jpg", "/img/dining-hall/dining-hall-side-5.jpg", "/img/dining-hall/dining-hall-side-6.jpg" ]

block description
	p The Dining Hall is a bright, heated large area which could be used for a whole host of activities, ranging from
		| formal dining to dance and fitness related sessions. Catering, both formal and informal, can be provided in
		| this area and licenced events could be held.
	p Free parking is available on site.

block availability
	p
		|Data needed
		|Monday:
		strong 6:00 pm – 9:30 pm
		br
		|Tuesday:
		strong 6:00 pm - 9:30 pm
		br
		|Wednesday:
		strong 6:00 pm – 9:30 pm
		br
		|Thursday:
		strong 6:00 pm – 9:30 pm
		br
		|Friday:
		strong 6:00 pm – 9:30 pm
		br
		|Saturday:
		strong 10:00 am – 4:30 pm
		br
		|Sunday:
		strong 10:00 am – 12:30 pm
		br


block pricing
	p
		|Per hour:
		strong £20
		br
		|Half day (up to 3 hours):
		strong £50
		br
		|Full day (up to 7 hours):
		strong £90
		br