extends facility-template
block prepend content
	- var automated = true
	- var top_image = "/img/dining-hall/dining-hall-top.jpg"
	- var facility_name = "Dining Hall"
	- var images = ["/img/dining-hall/dining-hall-side.jpg", "/img/dining-hall/dining-hall-side-2.jpg", "/img/dining-hall/dining-hall-side-3.jpg", "/img/dining-hall/dining-hall-side-4.jpg", "/img/dining-hall/dining-hall-side-5.jpg", "/img/dining-hall/dining-hall-side-6.jpg" ]
	- var description = "##### Description\nThe Dining Hall is a bright, heated large area which could be used for a whole host of activities, ranging from formal dining to dance and fitness related sessions. Catering, both formal and informal, can be provided in this area and licenced events could be held.\n\nFree parking is available on site."
	- var availability = "##### Availability\n**Monday** - **Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM - 12:30PM"
	- var pricing = "##### Pricing\n**Per Hour**: \u00A320  \n**Half Day (3hrs)**: \u00A350  \n**Full Day (7hrs)**: \u00A390"