extends ../template
block content
	div(class="row")
		img(src=top_image class class="by-brand-thin" style="width:100%;height:250px;object-fit:cover;")

	div(class="row mt-5")
		div(class="col-lg-8 mx-auto")
			h3(class="h-underline") #{facility_name}

			div(class="row")

				div(class="col-lg-5")
					//-Has a corresponding function in functions.js for carousel options
					div(id="facility-photos" class="carousel slide b-brand-thin" data-ride="carousel")
						div(class="carousel-inner")
							each img, index in images
								div(class=(index===0)?"carousel-item active":"carousel-item")
									img(src=img style="height:300px; width:100%; object-fit:cover")
						a(class="carousel-control-prev" href="#facility-photos" data-slide="prev" role="button")
							span(class="fa fa-arrow-left text-brand")
						a(class="carousel-control-next" href="#facility-photos" data-slide="next" role="button")
							span(class="fa fa-arrow-right text-brand")

				div(class="col-lg-7")
					block description
					//- add onclick js to hide.show form
					input(type="button" class="btn w-100" id="btn-signup" value=button_name onclick="toggleVisability('form-div')")
					div(id="form-div" class="container-fluid" style="display:none;")
						if button_name === 	"Book Now"
							include form-automated
						else
							include form-manual
					hr
					div(class="row")
						div(class="col-sm-6")
							h5 Availability
							block availability
						div(class="col-sm-6")
							h5 Pricing
							block pricing