div(class="container")
	form(id="automatedForm")
		div(class="form-group" style="display:none")
			select(id="facility-input" name="facility" class="form-control")
				option(value=facility)
		div(class="form-group")
			label(for="date-input")
				| Date:
			input(class="form-control" id="date-input" name="date")
		div(class="form-group")
			label(for="schedule")
				| Availability:
			div(id="calendar")
		div(class="form-group")
			label(for="time-input")
				| Time:
			//- this needs to take in values from back end
			select(id="time-input" name="time" class="form-control")
				option(value="12:30") 12:30
		div(class="form-group")
			label(for="name-input")
				| Name:
			input(id="name-input" name="name" type="text" class="form-control")
		div(class="form-group")
			label(for="email-input")
				| Email:
			input(id="email-input" name="email" type="email" class="form-control")
		div(class="form-group")
			label(for="info-input")
				| Additional info:
			textarea(id="info-input" name="info" rows="3" class="form-control")
		button(type="button" id="automatedFormSubmit" class="btn btn-primary w-100")
			|Submit
			span(class="fa fa-paper-plane-o")
	p(id="errMsg")