extends facility-template
block prepend content
	- var button_name = "Book Now"
	- var top_image = "/img/it-suite/it-suite-top.jpg"
	- var facility_name = "IT Suite"
	- var images = ["/img/it-suite/it-suite-side.jpg", "/img/it-suite/it-suite-side-2.jpg", "/img/it-suite/it-suite-side-3.jpg"]

block description
	p The IT Suite is equipped with 21 desk top computers. This multipurpose room can be used as a general class room
		| as monitors can be lowered into the purpose built desks. The room is spacious with additional round tables to
		| allow for group working.
	p Free parking is available on site.

block availability
	p
		|Need more data
		|Monday:
		strong 6:00 pm – 9:30 pm
		br
		|Tuesday:
		strong 6:00 pm - 9:30 pm
		br
		|Wednesday:
		strong 6:00 pm – 9:30 pm
		br
		|Thursday:
		strong 6:00 pm – 9:30 pm
		br
		|Friday:
		strong 6:00 pm – 9:30 pm
		br
		|Saturday:
		strong 10:00 am – 4:30 pm
		br
		|Sunday:
		strong 10:00 am – 12:30 pm
		br


block pricing
	p
		|Per hour:
		strong £20
		br
		|Half day (up to 3 hours):
		strong £50
		br
		|Full day (up to 7 hours):
		strong £90
		br