extends facility-template
block prepend content
	- var automated = true
	- var top_image = "/img/it-suite/it-suite-top.jpg"
	- var facility_name = "IT Suite"
	- var images = ["/img/it-suite/it-suite-side.jpg", "/img/it-suite/it-suite-side-2.jpg", "/img/it-suite/it-suite-side-3.jpg"]
	- var description = "##### Description\nThe IT Suite is equipped with 21 desktop computers. This multipurpose room can be used as a general class room as monitors can be lowered into the purpose built desks. The room is spacious with additional round tables to allow for group working.\n\n Free parking is available on site."
	- var availability = "##### Availability\n**Monday** - **Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM - 12:30PM"
	- var pricing = "##### Pricing\n**Per Hour**: \u00A320  \n**Half Day (3hrs)**: \u00A350  \n**Full Day (7hrs)**: \u00A390"