extends parties-template
block prepend content
	- var top_image = "/img/parties/parties-top.jpg"
	- var images = ["/img/parties/parties-side.jpg","/img/parties/parties-side-2.jpg","/img/parties/parties-side-3.jpg"]
block description
	p Hello there