extends facility-template
block prepend content
	- var button_name = "Book Now"
	- var top_image = "/img/performing-arts-room/performing-arts-room-top.jpg"
	- var page_name = "Performing Arts Room"
	- var side_image = "/img/performing-arts-room/performing-arts-room-side.jpg"

block description
	p
	|A very modern facility, the drama/dance studio provides a comfortable setting which is flexible enough to cater for a host of activities, both performing arts and fitness-related.
	br
	|  Free parking is available on site.
	br

block image-gallery
	div(class="col-4 thumbnail-image-container img-fluid")
		img(src="/img/performing-arts-room/performing-arts-room-side.jpg" style="width:100%;height:5vw;" onclick="changeGalleryImage(src)")
	div(class="col-4 thumbnail-image-container img-fluid")
		img(src="/img/performing-arts-room/performing-arts-room-side-2.jpg" style="width:100%;height:5vw;" onclick="changeGalleryImage(src)")
	div(class="col-4 thumbnail-image-container img-fluid")
		img(src="/img/performing-arts-room/performing-arts-room-side-3.jpg" style="width:100%;height:5vw;" onclick="changeGalleryImage(src)")
	

block availability
	p
	|Data needed
	|Monday:
	strong 6:00 pm – 9:30 pm
	br
	|Tuesday:
	strong 6:00 pm - 9:30 pm
	br
	|Wednesday:
	strong 6:00 pm – 9:30 pm
	br
	|Thursday:
	strong 6:00 pm – 9:30 pm
	br
	|Friday:
	strong 6:00 pm – 9:30 pm
	br
	|Saturday:
	strong 10:00 am – 4:30 pm
	br
	|Sunday:
	strong 10:00 am – 12:30 pm
	br


block pricing
	p
	|Per hour:
	strong £15
	br
	|Half day (up to 3 hours):
	strong £40
	br
	|Full day (up to 7 hours):
	strong £70
	br