extend ../template

block content
	div(class="col-lg-8 mx-auto")
		h3(class="h-underline text-uppercase") Price List
		br
		table
			tr
				th
				th Hire Cost Per Hour
				th
					| Hire Cost Per Half Day
					br
					| (Up to 3 hours)
				th
					| Hire Cost Per Full Day
					br
					| (Up to 7 hours)
			tr
				td(class="name") Theatre
				td
				td
				td