extends facility-template
block prepend content
	- var automated = true
	- var top_image = "/img/sports-field/sports-field-top.jpg"
	- var facility_name = "Sports Field"
	- var images = ["/img/sports-field/sports-field-side.jpg", "/img/sports-field/sports-field-side-2.jpg", "/img/sports-field/sports-field-side-3.jpg"]
	- var description = "##### Description\nWith a long-jump pit and two football pitches of varying size, this is an ideal venue to book for any outdoor event or field sports. It is spacious, well looked after and sheltered, as well as enjoying easy access to community facilities.\n\nFree parking is available on site."
	- var availability = "#### Availability(DATA NEEDED)\n**Monday** - **Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM - 12:30PM"
	- var pricing ="#### Pricing\n##### 11 v 11 Football Pitch\n**Per Hour/Match**: \u00A320\n##### Junior Football Pitch\n**Per Hour/Match**: \u00A315"
