extends facility-template
block prepend content
	- var automated = true
	- var top_image = "/img/sports-hall/sports-hall-top.jpg"
	- var facility_name = "Sports Hall"
	- var images = ["/img/sports-hall/sports-hall-side.jpg", "/img/sports-hall/sports-hall-side-2.jpg", "/img/sports-hall/sports-hall-side-3.jpg"]
	- var description = "The size of the Sports Hall makes it incredibly flexible and thus user-friendly. At its largest, it is ideal for sports like indoor football (Five-a-side and its variants) and hockey but can also be portioned to make basketball, dodgeball and racket sports available. It is currently marked to facilitate all of these. The area is clean, dry and has its own heating, the cushioned flooring making it safe for all. Because of its size, it is also suitable for aerobic, circuit and individual fitness sessions. It would be an excellent facility to hire for activities within a children’s party, giving the guests a vast amount of space to burn some energy off\n\n Free parking is available on site."
	- var availability = "#### Availability\n**Monday** - **Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM - 12:30PM"
	- var pricing = "#### Pricing\n##### Full Hall\n**Per Hour**: \u00A340  \n**Half Day (3hrs)**: \u00A3100  \n**Full Day (7hrs)**: \u00A3170\n##### Half Hall\n**Per Hour**: \u00A325  \n**Half Day (3hrs)**: \u00A360  \n**Full Day (7hrs)**: \u00A3110"