extends facility-template
block prepend content
	- var automated = false
	- var top_image = "/img/theatre/theatre-top.jpg"
	- var facility_name = "Theatre"
	- var images = ["/img/theatre/theatre-side.jpg", "/img/theatre/theatre-side-2.jpg", "/img/theatre/theatre-side-3.jpg"]
	- var description = "##### Description\nThe recently redecorated, 250 seat theatre has a traditional proscenium arch and stage and thus is a professional setting for performances or presentations of any type. Because the seating folds back, the space is sufficiently flexible to accommodate theatre in the round, more intimate musical events or fitness-related and dance activities. It is heated and well lit, with disabled access catered for – a beautiful setting for any event.\n\nFor a 4d tour of the theatre, click [here](https://www.4dtours.co.uk/4d/the-pictures/fullscreen/)\n\nFree parking is available on site."
	- var availability = "##### Availability\n**Monday** - **Friday**: 6:00PM - 9:30PM  \n**Saturday**:10:00AM - 4:30PM  \n**Sunday**: 10:00AM - 12:30PM"
	- var pricing = "##### Pricing\n**Per Hour**: \u00A340  \n**Half Day (3hrs)**: \u00A3100  \n**Full Day (7hrs)**: \u00A3170"