extends facility-template
block prepend content
	- var automated = facility.automated
	- var facility_name = facility.title
	- var top_image = "/uploads/" + facility.imageTop.filename
	- var images = ["/uploads/" + facility.image1.filename,"/uploads/" + facility.image2.filename,"/uploads/" + facility.image3.filename]

block description
	script document.write(!{JSON.stringify(facility.description.html)});

block availability
	script document.write(!{JSON.stringify(facility.availability.html)});

block pricing
	script document.write(!{JSON.stringify(facility.pricing.html)});
