div(class="row image-gallery")
	for facility, index in locals.facilities
		div(class="col-md-4 mb-4")
			div(class="card")
				a(href=`/facility/${facility.title}` class="text-center text-grey font-weight-bold")
					img(src=`/uploads/img/${facility.topImage.image.filename}` class="card-img-top")
					h4(class="card-title") #{facility.title}