form(id="automatedForm" class="mt-3" target="_blank")
	input( class="d-none" name="facility" id="facility-input" value=facility._id)
	
	div(class="form-group")
		div(class="input-group")
			div(class="input-group-prepend")
				span(class="input-group-text" style="width:70px;") Date:
			//- Date input
			input(id="date-input" class="form-control" name="date")

	div(id="calendar" class="form-group")

	div(class="form-group")
		//- Time input
		div(class="input-group")
			div(class="input-group-prepend")
				span(class="input-group-text" style="width:70px;") From:
			//- From time
			input(id="time-from-input" type="text" class="form-control" name="timeFrom")
			div(class="input-group-append")
				span(class="input-group-text" style="width:50px;") To:
			//- To time
			input(id="time-to-input" type="text" class="form-control" name="timeTo")
	div(class="form-group")
		div(class="input-group")
			div(class="input-group-prepend")
				span(class="input-group-text" style="width:70px;") Name:
			//- Name input
			input(id="name-input" name="name" type="text" class="form-control")
	div(class="form-group")
		div(class="input-group")
			div(class="input-group-prepend")
				span(class="input-group-text" style="width:70px;") Email:
			//- Email input
			input(id="email-input" name="email" type="email" class="form-control")
	div(class="form-group")
		div(class="input-group")
			div(class="input-group-prepend")
				span(class="input-group-text" style="width:70px;") Info:
			textarea(id="info-input" name="info" rows="3" class="form-control")

	button(type="button" id="automatedFormSubmit" class="btn btn-primary w-100") Submit
		span(class="fa fa-paper-plane-o")

p(id="errMsg")