extends parties-template
block prepend content
	- var top_image = "/img/parties/parties-top.jpg"
	- var images = ["/img/parties/parties-side.jpg","/img/parties/parties-side-2.jpg","/img/parties/parties-side-3.jpg"]
block description
	p
		br
		|Our facilities are able to accommodate any children’s party.
		br
		br
		|The 
		a(href="/facility/Sports Hall") Sports Hall
		|  is perfect for football parties or larger parties.
		br
		br
		|The 
		a(href="/facility/Gymnasium") Gym
		|  is smaller than the Sports Hall but large enough to accommodate most children’s parties.
		br
		br
		|The 
		a(href="/facility/Theatre") Theatre
		|  is a fantastic venue to hold a Cinema Party where children can watch their favourite film with popcorn.
		br
		br
		|As a community centre, we can provide Trampoline Parties for children aged 4-12 years (available on Saturday afternoons).
		br
		br
		|The 
		a(href="/facility/Sports Hall") Sports Hall
		|, 
		a(href="/facility/Gymnasium") Gym
		|  and 
		a(href="/facility/Dining Hall") Canteen
		|  are able to accommodate a Bouncy Castle, Soft Play and a Disco if required.
		br
		br
		|Catering options are available or you are welcome to provide your own food and refreshments also.
		br
		br
		hr
		br
		h4 Trampoline Party
		br
		|(Saturday’s only 12.45pm  – 1.45pm, room available for food afterwards)
		br
		|Age: 4-12yr (Maximum 16 children)
		br
		|Cost: 
		strong £60.00
		|  per party
		br
		br
		h4 Gymnastics Party 
		br
		|(Saturday’s only 12.45pm – 1.45pm, room available for food afterwards)
		br
		|Age: 4-12yr 
		br
		|Cost per party: 
		br
		|Up to 16 Children: 
		strong £60.00
		br
		|16-20 Children: 
		strong £65.00
		br
		|20-25 Children: 
		strong £70.00
		br
		br
		h4 Football Party
		br
		|Sports Hall (per hour): 
		strong £40.00
		br
		|Astro Turf (per hour): 
		strong £30
		br
		|Room hire option available for food afterwards.
		br
		br
		hr
		br
		|General room hire for a Party is based on the 
		a(href="/facility/price-list") hourly room hire cost.
		br
		br
		|Should you wish to buy in external equipment such as a bouncy castle or soft play, the supplier insurance documents must be sighted in advance of the party.
		br
		br
		|All party requests would be considered, please make an enquiry or call into the centre for form information.
		br