extend ../template

block content
	div(class="col-lg-8 mx-auto")
		h3(class="h-underline text-uppercase") Price List
		br
		table
			tr
				th
				th Hire Cost Per Hour
				th
					| Hire Cost Per Half Day
					br
					| (Up to 3 hours)
				th
					| Hire Cost Per Full Day
					br
					| (Up to 7 hours)
			each fac in facility
				tr
					td(class="name") #{fac.title}
					td(class="item") #{fac.CostPerHour}
					td(class="item") #{fac.CostPerHalfDay}
					td(class="item") #{fac.CostPerFullDay}