extends facility-template
block prepend content
	- var top_image = "/img/sports-field/sports-field-top.jpg"
	- var page_name = "Sports Field"
	- var side_image = "/img/sports-field/sports-field-side.jpg"

block description
	p 
	|With a long-jump pit and two football pitches of varying size, this is an ideal venue to book for any outdoor event or field sports. It is spacious, well looked after and sheltered, as well as enjoying easy access to community facilities.
	br
	|  Free parking is available on site.
	br 

block availability
	p
	|Data needed 
	|Monday:  
	strong 6:00 pm – 9:30 pm
	br
	|Tuesday: 
	strong 6:00 pm - 9:30 pm
	br
	|Wednesday:  
	strong 6:00 pm – 9:30 pm 
	br
	|Thursday: 
	strong 6:00 pm – 9:30 pm 
	br
	|Friday:  
	strong 6:00 pm – 9:30 pm 
	br
	|Saturday:  
	strong 10:00 am – 4:30 pm
	br
	|Sunday:  
	strong 10:00 am – 12:30 pm 
	br


block pricing
	p
	strong 11 v 11 Football Pitch
	br
	|Per hour/match: 
	strong £20
	br
	strong Junior Football Pitch
	br
	|Per hour/match: 
	strong £15
	br
