extends facility-template
block prepend content
	- var top_image = "/img/theatre-top.jpg"
	- var page_name = "Theatre"
	- var side_image = "/img/theatre-side.jpg"

block description
	p
	|The recently re-decorated, 250 seated theatre has a traditional proscenium arch and stage and thus is a professional setting for performances or presentations of any type. Because the seating folds back, the space is sufficiently flexible to accommodate theatre in the round, more intimate musical events or fitness-related and dance activities. It is heated and well lit, with disabled access catered for – a beautiful setting for any event.
	br
	|  Free parking is available on site.
	br

block availability
	p
	|Monday:
	strong 6:00 pm – 9:30 pm
	br
	|Tuesday:
	strong 6:00 pm - 9:30 pm
	br
	|Wednesday:
	strong 6:00 pm – 9:30 pm
	br
	|Thursday:
	strong 6:00 pm – 9:30 pm
	br
	|Friday:
	strong 6:00 pm – 9:30 pm
	br
	|Saturday:
	strong 10:00 am – 4:30 pm
	br
	|Sunday:
	strong 10:00 am – 12:30 pm
	br


block pricing
	p
	|Per hour:
	strong £40
	br
	|Half day (up to 3 hours):
	strong £100
	br
	|Full day (up to 7 hours):
	strong £170
	br 