//-likely that href/img/h4 's will become a variable loaded either from keystone or randomly day to day
div(class="row image-gallery")
	each act in activities	
		div(class="col-md-4 mb-4")
			div(class="card")
				a(href="/event/"+act._id class="text-center text-grey font-weight-bold")
					img(src="/getImage/"+act._id class="card-img-top")
					h4(class="card-title") #{act.name}
